
@import url('../css/owl.carousel.css');
@font-face {
    font-family: 'Bahij TheSansArabic Plain';
    src: url('../font/BahijTheSansArabic-Plain.woff2') format('woff2'),
        url('../font/BahijTheSansArabic-Plain.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bahij TheSansArabic';
    src: url('../font/BahijTheSansArabic-Bold.woff2') format('woff2'),
        url('../font/BahijTheSansArabic-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bahij TheSansArabic';
    src: url('../font/BahijTheSansArabic-ExtraLight.woff2') format('woff2'),
        url('../font/BahijTheSansArabic-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/**
 * Smooth scrolling on the whole document
 */
html {
    scroll-behavior: smooth;
}


* {
	margin: 0px;
	padding: 0px;
}

body{
	margin:0;
	padding:0;
}

a{
 text-decoration: none; 
}

img {
	height: auto;
	max-width: 100%;
}

h1,h2,h3,h4{
     font-family: 'Bahij TheSansArabic';
     font-weight:700;
         font-display: swap;
         letter-spacing:inherit;
}

p{
     font-family: 'Bahij TheSansArabic';
     font-weight:200;
         font-display: swap;
         letter-spacing:inherit;
}

ul{
     font-family: 'Bahij TheSansArabic';
     font-weight:200;
         font-display: swap;
         letter-spacing:inherit;
}




.header-background{
	width:100%;
	height:100vh;
	position:relative;
	overflow:hidden;
}


@keyframes move_wave {
    50% {
        transform: translateX(-25%) translateZ(180px) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(1.5)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    /*background-image: linear-gradient(to top, #A10339 20%, #BD0040 80%);*/
    background-color:#A10339;
}

.bgMiddle {
   background-image:url(../img/element.png);
   background-position:center;
   background-size:cover;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}


.waveMiddle {
    background-size: 100% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}


.bg-img{
	background-image:url();
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	height:100%;
}


.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}





/*slider*/

.slider {
    width: 85%;
    position: relative;
    top: 180px;
}

.slider  img{
	width:100%;
}

.slider-cap {
    width: 100%;
    margin: 300px auto;
    color: #fff;
    padding-right:25px;
}

.slider-cap h1{
	text-align:right;
	font-weight:bold;
	 font-family: 'Bahij TheSansArabic';
}

.slider-cap p{
	text-align:right;
	 font-family: 'Bahij TheSansArabic';
	 font-weight:200;
}


.slider-cap .btn{
	background-color:#fff;
	border:none;
	border-radius:50px;
	color:#BD0040;
	font-family: 'Bahij TheSansArabic';
	 font-weight:500;
	 font-size:12px;
	 z-index: 9999;
	 float:right;

}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow:none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #BD0040;
    background-color: #fff;
    border-color: #fff;
}



.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem  #BD0040;
}



.about{
	width:100%;
	height:100%;
	position:relative;
	margin:25px auto;
}





.section_title {
  margin-bottom: 40px;
}

.section_title h2 {
  color: #4E4E4E;
  font-size:40px;
}

.brand_border .fa.fa-minus {
    color: #fff;
    font-size: 8px;
    height: 2px;
    background: #F8C01B none repeat scroll 0 0;
    width: 100px;
}
.brand_border .fas.fa-handshake {
    font-size: 14px;
    color:#000000;
}


.section_title p {
  color: #707070;
  font-size: 18px;
  padding: 14px 0;
}

.choose_us .section_title {
    margin-top: 45px;
}
#about .single_service {
  padding: 32px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  height:185px;
  max-height:200px;
}

#about .single_service:hover {
    box-shadow: rgb(189 0 64 / 31%) 5px 7px 15px;
}

#about .icon {
  border: 1px solid #666;
  border-radius: 5%;
  color: #333333;
  font-size: 35px;
  line-height: 65px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  width: 70px;
}

#about .icon img{
  line-height: 65px;
  text-align: center;
  text-decoration: none;
  width:100%;
  padding:8px;
}

.hover-img{
    display:none;
}

#about .single_service .single_service-left {
  padding-right: 25px;
}

.single_service-heading {
  font-size: 15px;
  color: #4E4E4E;
  text-align:right;
}

.single_service-body p {
  font-size: 13px;
  text-align:right;
  color: #707070;
}

.single_service-left {
  display: table-cell;
  vertical-align: top;
}
.single_service-body {
  color: #333333;
  display: table-cell;
  vertical-align: top;
}
.hvr-curl-top-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
}
#about .single_service:hover {
    background: #BD0040 none repeat scroll 0 0;
}

.single_service:hover .single_service-body p{
    color:#fff;
}

.single_service:hover .single_service-heading{
    color:#fff;
}


.single_service:hover .icon .hover-img{
   display:inline-block;
}

.single_service:hover .icon .hide-img{
   display:none;
}

#about .single_service:hover .single_service-left .icon{
    border:1px solid #fff;
}



/*service*/




.service{
    width:100%;
    height:100%;
    position:relative;
    margin:25px auto;
}

.sec-1{
    width:100%;
    position:relative;
    margin:100px auto;
}

.background-line{
    width:100%;
    height:100%;
    background-image:url(../img/background-line.png);
    background-repeat:no-repeat;
    background-position:right;
    background-size:contain;
    position:absolute;
}


.sec1-img-1{
    width:100%;
    text-align:center;
 
}

.sec1-img-1 img {
    width: 50%;
    position: relative;
    top: -50px;
}
.sec1-cap-1 {
    width: 100%;
    text-align: right;
    position: absolute;
    left: 5%;
    top: 0%;
}

.sec1-cap-1 h2{
    margin: 20px 150px;
    color: #4E4E4E;
}

.sec1-cap-1 p{
    margin: 20px 150px;
    color: #707070;
}


/**/

.sec1-img-2{
    width:100%;

}

.sec1-img-2 img {
    width: 50%;
    float: right;
    position: relative;
}

.sec1-cap-2 {
    width: 100%;
    text-align: right;
    position: absolute;
    left: 25%;
    top: 25%;
}

.sec1-cap-2 h2{
    margin: 20px 150px;
    color: #4E4E4E;
}

.sec1-cap-2 p{
    margin: 20px 150px;
    color: #707070;
}


/**/

.sec1-img-3{
    width:100%;
    text-align:center;
 
}

.sec1-img-3 img {
    width: 50%;
    position: relative;
}

.sec1-cap-3 {
    width: 100%;
    text-align: right;
    position: absolute;
    top: 55%;
    right: 0;
}

.sec1-cap-3 h2{
    margin: 20px 150px;
    color: #4E4E4E;
}

.sec1-cap-3 p{
    margin: 20px 150px;
    color: #707070;
}


.bg{
    background-color:#F1F3F5;
    width:100%;
    height:250px;
    position:absolute;
    top:25%;
}


.bg2{
    background-color:#F1F3F5;
    width:100%;
    height:250px;
    position:absolute;
    top:80%;
}

/*------------------------ App ScreenShot -----------------------*/

.app-screens{
    width:100%;
    height:100%;
    position:relative;
    margin:55px auto;

}

.app-screenshot {
  padding: 50px 0 50px 0;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}
.app-screenshot h2 {text-align: center;margin-bottom: 170px;}
.app-screenshot .screenshot-container {position: relative;padding: 0 40px;}
.app-screenshot .screenshot-container .slider-row {margin: 0 -20px;}
.app-screenshot .screenshot-container .slider-row .item {
     margin: 0px 15px;
 
}
.app-screenshot .screenshot-container .slider-row .item img {margin: 0 auto;}
.app-screenshot .screenshot-container .phone-mockup {
  position: absolute;
  top: -14%;
  width: 27%;
  left: 50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
  z-index: 9;
}


@media (max-width: 550px){
.h2-style{
padding-left: 0px;
padding-right: 0px;
font-size: 18px !important;
}

.boost-your-phone .text ul li{
  padding:0;
  line-height:3;
}

.advance-feature {
    padding-bottom: 0 !important;
}


.app-screenshot {
    padding-bottom: 40px !important;
}


.app-screenshot {
  padding: 65px 0 230px 0;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}



.logo img {
    width: 30%;
    position: relative;
    left: -50px;
    top: -5px;
}


}

@media (min-width: 1200px) and (max-width: 1650px) {
  .testimonial-section .theme-title-one {padding-left: 230px;}
  .app-screenshot .screenshot-container .phone-mockup {top:-18%;}
}

@media (min-width: 992px) and (max-width: 1199px) {
  .app-screenshot .screenshot-container .phone-mockup {width: 45%;}
}

@media (max-width: 991px) {
  .app-screenshot {padding-bottom: 170px;}
}

@media (min-width: 768px) and (max-width: 991px) {
  .app-screenshot .screenshot-container .phone-mockup {width: 45%;top:-19%;}
}

@media (max-width: 767px) {
  .app-screenshot .screenshot-container .phone-mockup {display: none;}
  .app-screenshot h2 {margin-bottom: 40px;}
}



.app-download{
    width:100%;
    position:relative;
    margin:55px auto;
}

.background-app{
  background-color:#A10339;
  height:250px;
  width:100%;
  overflow:hidden;
}

.background-app-img{
width:100%;
height:100%;
background-position:center;
background-size:cover;
background-image:url(../img/element2.png);
}

/*btn*/

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: rgb(255 255 255 / 31%);
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
          animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: #fff;
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0px;
    height: 0px;
    border-left: 32px solid rgb(161 3 57);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@-webkit-keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index:9999;
  opacity: 1;
}

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.video-overlay-close:hover {
  color: #fa183d;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}



.link{
    margin-right:25px;
    text-align:center;
}

.news-app-promo__section {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 8px;
}

.news-app-promo-subsection {
    display: flex;
    width: fit-content;
    position: absolute;
    left: 34%;
    top: 150px;
}

.news-app-promo__play-store,
.news-app-promo__app-store {
  display: block;
  width: 161px;
  height: auto;
  margin-bottom: 8px;
}

.download-btn{
  display: inline-block;
  margin: 0 auto;
  position: relative;
  width: 100%;
  text-align: center;
  top:-110px;
}




/*testimonial*/




.testimonials-1 {
      width:100%;
    position:relative;
    margin:55px auto;
    padding-top:50px;
}
.testimonials-1 .heading {
    margin-bottom: 60px;
}
.testimonials-1 .heading h2 {
    font-size: 30px;
    font-weight: 700;
    color: #313e4b;
    margin-bottom: 20px;
}
.testimonials-1 .heading h2 span {
    font-weight: 300;
    color: #02a2c4;
    margin: 0;

}
.testimonials-1 .heading p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin: 0;
    color: #727f8c;
}
.testimonials-1 .box {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: all 0.4s ease-in-out;
}
.testimonials-1 .box h3 {
    font-size: 18px;
    font-weight: 500;
    color: #313e4b;
}
.testimonials-1 .box:hover {
    transform: translateY(-10px);
}
.testimonials-1 .box h3 span {
    font-size: 13px;
    font-weight: 400;
    color: #02a2c4;
    margin-left: 10px;
}
.testimonials-1 .box p {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
    color: #727f8c;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-right: 20px;
}
.testimonials-1 .box .image img {
    width: 200px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.testimonials-1 .box .icon {
    border: 1px solid #eee;
    color: #fff;
    background-color:#EFCE4A;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
/*.testimonials-1 .box .icon:hover {
    color: #ffffff;
    border: 1px solid #02a2c4;
    background: #02a2c4;
}*/



/*form*/


.form-sec{
    width:100%;
    position:relative;
    padding-top:100px;
}

.section_title-form{
    text-align:right;
}

.form-side-img img{
    width:100%;
    padding:25px;
}

.form-side-img img{
    width:100%;
}

.form-control:not(select) {
    padding:30px 25px;
    border-radius:20px;
    border:none;
    font-family: "Bahij TheSansArabic";
    font-weight:200 !important;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
}


.form-area input{
    text-align:right;
    width:100%;
}

.form-area textarea{
    text-align:right;
    width:100%;
}

.bg-white{
    background-color:#F1F3F5 !important;
    font-family: "Bahij TheSansArabic";
    font-weight:200;
}

.form-cap {
    width: 100%;
    margin:15px auto;
    color: rgb(255, 255, 255);
    padding-right: 20px;
}

.form-cap .btn {
    background-color: rgb(161 3 57);
    border: none;
    border-radius: 50px;
    color: rgb(255 255 255);
    font-family: "Bahij TheSansArabic";
    font-weight: 500;
    font-size: 15px;
    float: right;
    padding: 8px 35px;
}

.form-cap p{
    color: rgb(112, 112, 112);
    font-size: 18px;
    padding: 14px 0px;
    width:100%;
    margin:10px auto;
    text-align:right;
    float:right;
}



/*footer-area*/

.footer-area{
    width:100%;
    position:relative;
    padding:100px 0;
    font-family: "Bahij TheSansArabic";
}

.waveWrapperInner2 {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height:80%;
    bottom: -1px;
    z-index: 9;
    /*background-image: linear-gradient(to top, #A10339 20%, #BD0040 80%);*/
    background-color:#fff;
}

/*footer*/

.bg-navy {background-color: rgb(161 3 57);}
.footer-logo img{
    width:70%;
}
.space-2, .space-top-2 {padding-top: 4rem !important;}
.opacity-xs {opacity: .2;}
hr {margin-top: 1rem;margin-bottom: 1rem;border: 0;border-top: 0.0625rem solid #e7eaf3;}
.space-1, .space-top-1 {padding-top: 2rem !important;}
.space-1, .space-bottom-1 {padding-bottom: 2rem !important;}
.nav-x-0 .nav-link {padding-right: 0;padding-left: 0;    font-family: "Bahij TheSansArabic";}
.nav-white .nav-link {color: rgba(255, 255, 255, 0.7);}

.btn-icon.btn-xs {
    font-size: 0.75rem;
    width: 1.75rem;
    height: 1.75rem;
}

.btn-icon {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0;
}


.btn-soft-light {
    color: #f7faff;
    background-color: rgba(247, 250, 255, 0.1);
    border-color: transparent;
}

.media-body {
    font-size:12px;
    padding-top: 2px;
}

.copyright-ys a{
  text-decoration:none;
  color:#ffcc00;
}
.copyright-ys a:hover{
  text-decoration:none;
  color:#ffcc008a;
}

.list-inline-item a:hover{color:#be1d2c;}


/*footer*/



.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:rgb(0, 230, 118);
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.float:hover {
    background-color: rgb(161, 3, 57);
    color: rgb(255, 255, 255);
    box-shadow: rgb(199 9 74) 1px 0px 10px 4px;
}

.my-float{
  margin-top:16px;
}


/*responsive section*/
@media(max-width:768px){
.form-cap {
    padding-right:20px;
}

.news-app-promo-subsection {
    left: 5%;
}
.section_title-form h2{
  font-size:20px;
}
.form-cap p {
    font-size: 15px;
}
.form-sec {
    padding-top: 50px;
}
.form-cap .btn {
    font-size: 12px;
}
.section_title {
    margin: 30px auto;
}
.section_title h2 {
    font-size: 35px;
}
.testimonials-1 {
    padding-top: 0;
}
.section_title p {
    font-size: 15px;
}
.video-overlay-close {
    position: absolute;
    z-index: 9999;
    top: 189px;
    right: 120px;
}
.video-overlay iframe {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 15px;
    width: auto;
}
.app-screenshot .screenshot-container .phone-mockup {
    display: inline-block;
    width:100%;
}
.app-screenshot .screenshot-container .slider-row .item {
    margin: -5px 45px;
}
.sec1-img-1 img {
    width: 35%;
    position: relative;
    top: -40px;
    left: -95px;
}

.sec1-cap-1 {
    text-align: right;
    position: absolute;
    top: -130px;
    width: 120px;
    left: 195px;
}
.sec1-cap-1 h2 {
    color: rgb(78, 78, 78);
    font-size: 15px;
    margin: 0px;
    float: right;
}
.sec1-cap-1 p {
    color: rgb(112, 112, 112);
    font-size: 12px;
    margin:0;
    max-width: 150px;
   margin-top: 25px;
}

.sec1-img-2 img {
    width: 35%;
    float: right;
    position: relative;
    top: 10px;
}
.sec1-cap-2 {
    top: 15px;
    width:90px;
    text-align: right;
    position: absolute;
    left: 15px;
}
.sec1-cap-2 p {
    margin: 0px;
    color: rgb(78, 78, 78);
    font-size: 12px;
    float: right;
}
.sec1-cap-2 h2 {
    margin: 0px;
    color: rgb(78, 78, 78);
    font-size: 15px;
    margin-top:5px;
}

.sec1-cap-3 {
    top: 15px;
    width:125px;
    text-align: right;
    position: absolute;
}

.sec1-img-3 img {
    width: 35%;
    position: relative;
    top: 75px;
    right: 90px;
}
.sec1-cap-3 p {
    color: rgb(78, 78, 78);
    font-size: 12px;
    margin: 0px;
    float: right;
    max-width: 150px;
    margin-right:25px;
    margin-top:5px;
}
.sec1-cap-3 h2 {
    margin:5px 25px 0px 0px;
    color: rgb(78, 78, 78);
    font-size: 15px;
    float: right;
}

.bg2 {
    background-color: rgb(241, 243, 245);
    width: 100%;
    height: 130px;
    position: absolute;
    top: 88%;
}
.bg {
    background-color: rgb(241, 243, 245);
    width: 100%;
    height: 130px;
    position: absolute;
    top: 30%;
}
.app-screens {
    padding: 50px 0;
}

.slider {
    width: 70%;
    position: relative;
    top: 85px;
    left: 15%;
    height: 0px;
}

.download-btn {
    display: inline-block;
    margin: 0px auto;
    position: relative;
    width: 100%;
    text-align: center;
    top: -160px;
}
.slider-cap p {
    text-align: right;
    font-family: "Bahij TheSansArabic";
    font-weight: 200;
    font-size: 12px;
}
.slider-cap h1 {
    font-size: 25px;
}
.float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
    background-color: rgb(37, 211, 102);
    color: rgb(255, 255, 255);
    border-radius: 40px;
    text-align: center;
    font-size: 20px;
    box-shadow: rgb(153, 153, 153) 2px 2px 3px;
    z-index: 100;
}

.footer-logo img {
    width: 40%;
    float: left;
    margin-left: -30px;
}
.nav-white .nav-link {
    color:#fff;
    font-size: 12px;
    font-family: "Bahij TheSansArabic";
    font-weight:200;
}

.text-white {
    color: #fff!important;
    font-size: 18px;
    font-weight: bold;
    font-family: "Bahij TheSansArabic";
}
.nav {
    margin-top: 15px;
}
.space-2, .space-top-2 {
    padding-top: 0rem !important;
}
}



/*section1*/
/*navbar*/
/*.arabic-font{
   font-family: 'droid_arabic_kufibold';
   font-weight:600;
}*/

.arabic-font a{
padding-bottom: 2px;
}
.saudi-flag{
    position: relative;
    width: 10%;
    right: 10px;
    margin-bottom: 2px;
}
.responsive-bar{
    display: none;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 150px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
    z-index: 99;
    background-color:transparent;
}
nav.black{
    /*background: rgba(0,0,0,0.8);*/
    background: rgb(160 6 59);
    height: 135px;
    padding: 10px 50px;
    z-index:999;
}
nav .container .logo2{
    float: right;
    width:10%;
}
nav .container .logo img{
    height: 100px;
    transition: .5s;
    margin-top: 15px;
    left:0;
}
nav .container .black .logo2 img{
    height: 100px;
}
nav .container > ul {
    width: 72%;
    margin: 0 auto;
    padding: 0;
    float: left;
    position: relative;
    top: 30px;
}
nav .container > ul > li{
    list-style: none;
    display: inline-block;

}
nav .container > ul > li > a:hover{
    color: #ccc !important;
    text-decoration:none;
}
nav .container > ul > li > a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; /*for capitalisation of letters */
    line-height: 80px;
    padding: 5px 20px;
    transition: .5s;
    font-family: "Bahij TheSansArabic"; 
}
nav .container .black > ul > li > a{
    color: #fff;
    line-height: 60px;
}

@media(max-width:768px){
    .responsive-bar{
        display: block;
        width: 100%;
        height: 90px;
            background: rgb(161 3 57);
        position: fixed;
        top: 0;
        left: 0;
        padding: 5px 20px;
        box-sizing: border-box;
        z-index:999;
    }

    nav.black {
    background: rgb(160, 6, 59);
    height: 95px;
    padding: 10px 50px;
    z-index: 99;
}

    .responsive-bar .logo2 img{
        float: left;
        height:75px;  
    }
    .responsive-bar .menu h4{
        float: right;
        color: #fff;
        margin: 0;
        padding: 0;
        line-height: 70px;
        font-size:18px;
        cursor: pointer;
        text-transform: uppercase;
    }
    nav{
        padding: 0;
    }
    nav,
    nav .container .black{
    background: #262626;
    height: auto;
    padding: 0;
    }
    nav .container .logo2{
        display: none;
    }
nav .container ul {
    position: absolute;
    width: 100%;
    top: 90px;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 25px;
    left: 0px;
    background: rgb(38, 38, 38);
    float: none;
    display: none;
}
    nav .container ul.active{
        display: block;
    }
    nav .container ul li{
        width: 100%;
    }
    nav .container ul li a{
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 30px !important;
        color: #fff;
        
    }

    nav .container > ul{
        width: 100%;
        display: none;
    }
    nav .container > ul > li{
        display: block;
        text-align: center;
    }
    .active{
        display: block;
    }
}

/*end*/
/*section1*/


.privacy{
  width:100%;
  height:100%;
  position:relative;
  margin:25px auto;
}